<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="dev" class="org.example.Dev">
    <!-- need to have a setter to use this -->
        <!-- <property name="age" value="12"/>  -->

        <!-- need to have a constructor to do it this way -->
        <!-- <constructor-arg value='14'/> -->

        <!-- <property name="laptop" ref='lap'/> -->

        <property name="computer" ref="lap"/>
    </bean>

    <bean id="lap" class="org.example.Laptop">
    </bean>
    <bean id="desk" class="org.example.Desktop">
    </bean>

</beans>